html body {
    margin:0;
    padding:0;  
}

.all-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1500px;
    margin-left: 400px;
}

.car{
    max-width: 350px;
    margin-left: 50px;
}

.nav-bar li{
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    display: inline-block;
}

.main-header{
    background-color: rgba(0, 0, 0, .6);
    background-image: url("Billeder/Cover Image/CoverImage.jpg");
    background-blend-mode: multiply;
    background-size: 150px;
    width: 300px;
    height: 300px;
    background-size: cover;
    padding-bottom: 30px;

}

.Name{
    color: #ffff;
    height: 100px;
    text-align: center;
    font-size: 4.4em;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0;

}

.main-footer{
    background-color: rgba(40, 110, 189, 0.1);
    color: rgb(0, 0, 0);
    padding: .25em 0;
}

.main-header{
    width:100%;
}

.minisection{
    margin-left: 20px;
    display: inline-block;

}

.footer-title-paragraph{
    color: #000;
}

.content{
    width: 2500px; 
    display: flex;  
    flex-wrap: wrap;
}

.hej{
    width: 500px;
}

.mini-sec-title{
    font-weight: bold;
    text-align: left;
}

.Search{
    margin-bottom: 0px;
}


.main-nav-bar{
    text-align: center;
}

.car :hover{
    opacity: 0.5;
    cursor: pointer;
}

.main-section{
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.Review{
    font-weight: bold;
    margin-left: 40px;
}
.mini-section{
    flex: 1 1 160px;

}

.Emil-signup{
    font-weight: bold;
    margin-left: 200px;
}

.main-nav-bar li{
    list-style-type: none;
    background-color:#f1f1f1;
    width: 200px;
    height: 20px;
    padding: 5px;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #000;
}


.main-nav-bar li:hover{
    background-color: #04AA6D;
}

.Search{
    border: green;
}

