*, html {
    margin:0;
    padding:0;  
}
.all-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1500px;
    margin-left: 400px;
}

.car{
    max-width: 350px;
    margin-left: 50px;
}

.nav-bar li{
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    display: inline-block;
}

.Name{
    background-color: #04AA6D;
    height: 100px;
    text-align: center;
    font-size: 4.4em;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0;

}

.main-header{
    width:100%;
}

.main-nav-bar{
    text-align: center;
}


.main-nav-bar li{
    list-style-type: none;
    background-color:#f1f1f1;
    width: 200px;
    height: 20px;
    padding: 5px;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #000;
}


.main-nav-bar li:hover{
    background-color: #04AA6D;
}

.Search{
    border: green;
}

